/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #20204C;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1040;
    padding: 15px 20px;
}

header .logo {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
}

header .logo img {
    height: 10%;
    width: 10%;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: #F4661B;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #1A1040;
    color: white;
}

/* Button Styles */
button {
    position: absolute;
    bottom: 60px;
    left: 90%;
    transform: translateX(-50%);
    width: 150px;
    height: 60px;
    border: 3px solid #F4661B;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    color: white;
    background: #1A1040;
    font-size: 1.2em;
    font-weight: 550;
}

button:hover {
    background: #F4661B;
    color: white;
    font-size: 1.5em;
}

/* Grid Container */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #1A1040;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: filter 0.3s;
}

.card.orange {
    background-color: #F4661B;
}

.card.blue {
    background-color: #1A1040;
}

.card.white {
    background-color: #FFFFFF;
    color: #1A1040;
}

.card p {
    font-size: 1.2em;
    color: white;
}

.card.white p {
    color: #1A1040;
}

.card:hover {
    filter: none;
}

.container:hover .card:not(:hover) {
    filter: blur(5px);
}

.tip{
    font-weight: bolder;
}

.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.sub-container img{
    width: 50%;
    height: 50%;
}